---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import userConfig from "../../config/config.json";
import { getCollection } from "astro:content";
import CaseLawReact from "../../components/React/CaseLaw/CaseLaw";

const rawPosts = await getCollection("blog");

const posts = rawPosts
  .filter((post) => !post.data.draft)
  .map((post) => ({
    id: post.id,
    data: {
      title: post.data.title,
      description: post.data.description,
      pubDate: new Date(post.data.pubDate),
      draft: post.data.draft,
      tags: post.data.tags || [],
    },
  }));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`CaseLaw | ${userConfig.SITE_TITLE}`}
      description="A CaseLaw page provides detailed information about a specific legal case, including its summary, facts, issues, holding, reasoning, and related legal citations."
    />
  </head>

  <body>
    <Header />
    <main>
      <CaseLawReact posts={posts} client:load />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
