---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import userConfig from "../../config/SiteConfig/config.json";
import CaseLawReact from "../../components/React/CaseLaw/CaseLaw";
import FeatureFlag from "../../config/FeatureFlag/featureflag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import { getCollection } from "astro:content";

try {
  if (!FeatureFlag.CaseLaw) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
const rawPosts = await getCollection("blog");

const posts = rawPosts
  .filter((post) => !post.data.draft)
  .map((post) => ({
    id: post.id,
    data: {
      title: post.data.title,
      description: post.data.description,
      pubDate: new Date(post.data.pubDate),
      draft: post.data.draft,
      tags: post.data.tags || [],
    },
  }));
---

<!doctype html>
<html lang="en">
  <head>
    <SpeedInsights />
    <BaseHead
      title={`CaseLaw | ${userConfig.SITE_TITLE}`}
      description="A CaseLaw page provides detailed information about a specific legal case, including its summary, facts, issues, holding, reasoning, and related legal citations."
    />
  </head>

  <body>
    <Header />
    <main>
      <section>
        <CaseLawReact posts={posts} client:load />
      </section>
      <footer>
        <Footer />
      </footer>
    </main>
  </body>
</html>
