---
import userConfig from "../config//SiteConfig/config.json";
import Analytics from "@vercel/analytics/astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutHerSection from "../components/React/AboutUS/hero";
import CEOIntroReact from "../components/React/AboutUS/CEOIntro";
import CoreValueSection from "../components/React/AboutUS/CoreValues";
import CallItAction from "../components/React/AboutUS/CallItAction";
import FeatureFlag from "../config/FeatureFlag/featureflag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
try {
  if (!FeatureFlag.AboutUs) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SpeedInsights />
    <BaseHead
      title={`About US | ${userConfig.SITE_TITLE}`}
      description="Learn more about us and our team."
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main class="bg-dracula-bg">
      <section>
        {
          FeatureFlag.AboutUsComponent[0].AboutHer && (
            <AboutHerSection client:load />
          )
        }
      </section>
      <section>
        {
          FeatureFlag.AboutUsComponent[0].CEOIntro && (
            <CEOIntroReact CEOImage={userConfig.CEoImage} client:load />
          )
        }
      </section>
      <section>
        {
          FeatureFlag.AboutUsComponent[0].CoreValues && (
            <CoreValueSection client:load />
          )
        }
      </section>
      <section>
        {FeatureFlag.AboutUsComponent[0].CTA && <CallItAction client:load />}
      </section>
    </main>
    <Footer />
  </body>
</html>
