---
import userConfig from "../config/config.json";
import Analytics from "@vercel/analytics/astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutHerSection from "../components/React/AboutUS/hero";
import CEOIntroReact from "../components/React/AboutUS/CEOIntro";
import CoreValueSection from "../components/React/AboutUS/CoreValues";
import CallItAction from "../components/React/AboutUS/CallItAction";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <BaseHead
      title={`About US | ${userConfig.SITE_TITLE}`}
      description="Learn more about us and our team."
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main class="bg-dracula-bg">
      <AboutHerSection client:load />
      <CEOIntroReact CEOImage={userConfig.CEoImage} client:load />
      <CoreValueSection client:load />
      <CallItAction client:load />
    </main>
    <Footer />
  </body>
</html>
