---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import userConfig from "../config//SiteConfig/config.json";
import Analytics from "@vercel/analytics/astro";
import AccessDeniedPage from "../components/React/404/Access-Deined";

export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={userConfig.SITE_TITLE}
      description={userConfig.SITE_DESCRIPTION}
    />
    <Analytics />
  </head>
  <body>
    <main class="bg-dracula-bg">
      <div class="max-w-10xl mx-auto px-6">
        <AccessDeniedPage client:load />
      </div>
      <Footer />
    </main>
  </body>
</html>
