---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import userConfig from "../config/SiteConfig/config.json";
import Analytics from "@vercel/analytics/astro";
import ContactForm from "../components/React/Contact/ContactForm";
import FeatureFlag from "../config/FeatureFlag/featureflag.json";
import SpeedInsights from "@vercel/speed-insights/astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
export const prerender = true;

try {
  if (!FeatureFlag.ContactUS) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <SpeedInsights />
    <BaseHead
      title={`Contact Us | ${userConfig.SITE_TITLE}`}
      description="Get in touch with Shafiq Law Chamber for expert legal assistance. Schedule a free consultation today."
    />
    <Analytics />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap"
    />
  </head>
  <body class="bg-dracula-bg">
    <Header />
    <main>
      <ContactForm offices={userConfig.offices} client:load />
    </main>
    <Footer />
  </body>
</html>
