---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import userConfig from "../config//SiteConfig/config.json";
import Analytics from "@vercel/analytics/astro";
export const prerender = true;
import PricingPage from "../components/React/Pricing/PricingPackage";
import FeatureFlag from "../config/FeatureFlag/featureflag.json";

try {
  if (!FeatureFlag.Pricing) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={userConfig.SITE_TITLE}
      description={userConfig.SITE_DESCRIPTION}
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main>
      <div>
        <section>
          <PricingPage pricingPlans={userConfig.pricingPlans} client:load />
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
