---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import userConfig from "../config/config.json";
import Analytics from "@vercel/analytics/astro";
export const prerender = true;
import ServicesPage from "../components/React/Services/Services";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={userConfig.SITE_TITLE}
      description={userConfig.SITE_DESCRIPTION}
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main>
      <ServicesPage services={userConfig.services} client:load />
    </main>
    <Footer />
  </body>
</html>
