---
import SocialIcons from "../components/React/SocialIcon/SocialIcon";
import UserConfig from "../config/config.json";
import FeatureFlag from "../config/featureflag.json";

try {
  if (!FeatureFlag.Footer) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<footer class="bg-dracula-bg text-black py-10">
  <div class="container mx-auto px-6 md:px-12">
    <div class="grid md:grid-cols-3 gap-6 text-center md:text-left">
      <!-- Left: Built by Info -->
      <div>
        <h2 class="text-xl font-semibold text-dracula-pink">Built By</h2>
        <a href="https://rafay99.com" class="text-black hover:text-dracula-pink"
          >Syntax Lab Technologies</a
        >
      </div>

      <!-- Center: Social Media -->
      <div>
        <h2 class="text-xl font-semibold text-dracula-pink">Follow Us</h2>
        <SocialIcons
          facebook={UserConfig.FacebookLink}
          linkedin={UserConfig.LinkedInLink}
          instagram={UserConfig.InstagramLink}
          twitter={UserConfig.TwitterLink}
        />
      </div>

      <!-- Right: Privacy & Astro Support -->
      <div>
        <h2 class="text-xl font-semibold text-dracula-pink">More</h2>
        <ul>
          <li>
            {
              FeatureFlag.TermsAndConditions && (
                <a
                  href="/terms-and-conditions"
                  class="text-black hover:text-dracula-pink"
                >
                  Terms and Conditions
                </a>
              )
            }

            <li>
              {
                FeatureFlag.PrivatePolicy && (
                  <a
                    href="/privacy-policy"
                    class="text-black hover:text-dracula-pink"
                  >
                    Privacy Policy
                  </a>
                )
              }
            </li>
            <li>
              <a
                href="https://astro.build/"
                target="_blank"
                class="text-black hover:text-dracula-pink"
              >
                Built with Astro 🌟
              </a>
            </li>
          </li>
        </ul>
      </div>

      <!-- Bottom: Copyright -->
      <div class="text-center mt-8 text-gray">
        &copy; {new Date().getFullYear()} Shafiq Law Associates. All rights reserved.
      </div>
    </div>
  </div>
</footer>
